[submodule "vendor/dwmblocks"]
	path = vendor/dwmblocks
	url = git://git.suckless.org/dwmblocks
[submodule "vendor/dwm"]
	path = vendor/dwm
	url = git://git.suckless.org/dwm
[submodule "vendor/st"]
	path = vendor/st
	url = git://git.suckless.org/st
