[submodule "vendor/dwmblocks"]
	path = vendor/dwmblocks
	url = https://github.com/torrinfail/dwmblocks.git
[submodule "vendor/dwm"]
	path = vendor/dwm
	url = git://git.suckless.org/dwm
[submodule "vendor/st"]
	path = vendor/st
	url = git://git.suckless.org/st
[submodule "vendor/dmenu"]
	path = vendor/dmenu
	url = git://git.suckless.org/dmenu
[submodule "vendor/slock"]
	path = vendor/slock
	url = git://git.suckless.org/slock
