[Desktop Entry]
Encoding=UTF-8
Name=Vallabh( DWM )
Comment=Dynamic window manager by @VRKANSAGARA
Exec=/bin/zsh -c "$HOME/.xinitrc"
Icon=dwm
Type=XSession
